.main {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.main > * {
    min-height: 0;
}

.header {
    /*height: 50px;*/
    border: 1px solid red;
}

.body {
    overflow: auto;
    /*padding: 10px 5px;*/
}

.footer {
    border: 1px solid blue;
}