.layout {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    align-items: stretch;
    justify-content: stretch;
    min-height: 100px;
}

.left {
    /*border: 1px solid red;*/

}

.right {
    /*border: 1px solid blue;*/
}


.anchor_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}