
.main {
    background-color: #F5F5F5;
    height: 100%;
    /*overflow: auto;*/
    /*border: 3px solid red;*/
    display: grid;
    grid-template-rows: 80px 1fr;
}

.header {
    /*background-color: blue;*/
    border-bottom: 1px solid #ddd;
}

.body {
    /*background-color: yellow;*/
    overflow: auto;
    /*padding: 10px 0 0 0;*/
}

